
body{
    max-width: 700px;
    margin:auto;  
}

input{
    border: 1px solid black;
    height : 50px;
    width : 50px;
    text-align: center;
    font-size: 3em;
}
input:hover{
    background: grey;
}